.input {
	background-color: hsla(var(--palette-black-hsl), 0.5);
	border: none;
	border-radius: 0.5rem !important;
	color: var(--palette-white);
	display: block;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	margin: 0;
	padding: 1rem 2rem;
	width: 100%;

	&::placeholder {
		color: hsla(var(--palette-white-hsl), 0.5);
	}
}
