.button {
	align-items: center;
	appearance: none;
	background-color: transparent;
	background-image: none;
	border: none;
	color: inherit;
	cursor: pointer;
	display: block;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: 2;
	padding: 0.5rem 2rem;
	position: relative;
	text-decoration: none;
	transition-duration: 0.2s;
	transition-property:
		background-color,
		color;

	// &.is-auxiliary {
	// 	background-color: var(--palette-black);
	// 	color: var(--palette-white);

	// 	&:hover {
	// 		background-color: var(--palette-dark-grey);
	// 	}
	// }

	&.is-link {
		padding: 0;
		text-align: inherit;
	}

	&.is-loading {
		position: relative;

		.label {
			color: transparent;
		}
	}

	&.is-primary {
		background-color: hsl(var(--palette-blue-hsl));
		border-color: hsl(var(--palette-blue-hsl));
		border-radius: 2.5rem;
		border-style: solid;
		border-width: 0.2rem;
		color: var(--palette-white);

		&:not(.is-disabled):hover {
			background-color: hsl(var(--palette-blue-h), var(--palette-blue-s), calc(var(--palette-blue-l) - 10%));
			color: var(--palette-white);
		}
	}

	&.is-secondary {
		background-color: hsla(var(--palette-blue-h), var(--palette-blue-s), calc(var(--palette-blue-l) + 20%), 0);
		border-color: hsl(var(--palette-blue-hsl));
		border-radius: 2.5rem;
		border-style: solid;
		border-width: 0.2rem;
		color: var(--palette-blue);

		&:not(.is-disabled):hover {
			background-color: hsla(var(--palette-blue-h), var(--palette-blue-s), calc(var(--palette-blue-l) - 10%), 1);
			color: var(--palette-white);
		}
	}

	&:disabled,
	&.is-disabled {
		cursor: not-allowed;
		opacity: 0.65;
	}

	// .children {
	// 	position: relative;
	// }

	.label {
		transition-duration: 0.2s;
		transition-property: color;
	}

	.loader {
		position: absolute;
		left: 50%;
		top: 50%;
		translate: -50% -50%;
	}
}
