.application-nav {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	inset: 0;
	overflow: hidden;
	position: absolute;
	z-index: 1;

	&:not(.is-visible) {
		pointer-events: none;
	}
}

.avatar {
	height: 3rem;
	position: relative;
	width: 3rem;
}
