.brand {
	left: -6rem;
	position: absolute;
	rotate: 15deg;
	top: 0;
	top: -3rem;
}

.nav-items {
	display: flex;
	flex-direction: column;
}

.site-nav {
	display: flex;
	flex-direction: column;
	position: relative;

	hr {
		background-color: var(--palette-white);
		border: none;
		height: 0.4rem;
		margin: 0;
		margin-top: 3rem;
		width: 100%;
	}
}

.site-nav-wrapper {
	align-items: center;
	background-color: var(--palette-blue);
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}
